span:after {
  display: inline;
}
h3 {
  font-size: 20px;
  font-weight: bold;
}
section h3 {
  margin-bottom: 30px;
}
aside {
  margin-top: 84px;
}
aside .h3-title {
  box-sizing: content-box;
  padding: 1rem 0;
  background: #ff5864 url(../images/nav2.png) 2rem center no-repeat;
  -webkit-background-size: 3rem;
  background-size: 3rem;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #FFF;
}
.aside-ul {
  font-size: 18px;
}
.aside-ul i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #FFF;
  border: 2px solid #ff5864;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 2rem;
}
.aside-ul li {
  background: url(../images/bg-dian.png) left bottom repeat-x;
  height: 60px;
  line-height: 60px;
}
.aside-ul li a {
  color: #333;
}
.aside-ul li a:hover {
  color: #ff5864;
}
.aside-ul li a:hover i {
  background-color: #ff5864;
}
.aside-ul li a:focus {
  text-decoration: none;
}
.aside-ul li.aside-active a {
  color: #ff5864;
}
.aside-ul li.aside-active a i {
  background-color: #ff5864;
}
aside dl {
  cursor: pointer;
}
aside dl:hover p {
  color: #ff5864;
}
aside dl dt {
  overflow: hidden;
}
aside dl dt img {
  width: 100%;
}
section h4 {
  color: #999;
  margin-top: 32px;
  margin-bottom: 70px;
}
section h4 span {
  color: #34B6EA;
}
section p {
  text-indent: 30px;
}
.section-img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
}
